@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poetsen+One&display=swap");
#root {
  padding: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#card {
  background-color: hsl(222.2, 84%, 4.9%);
  color: hsl(210, 40%, 98%);
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 700px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cardtitle {
  font-size: 2.4rem;
  margin-bottom: 0;
  color: rgb(240, 230, 138);
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#cardtitle:hover {
  color: hsl(44, 75%, 85%);
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.479);
}

#cardContent {
  font-size: 1.3rem;
  margin-top: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
#cardContent:hover {
  color: hsl(44, 75%, 85%);
}

.author{
  font-size: .7rem;
  font-weight: 700;
  font-style: normal;
  color: hsla(210, 40%, 98%, 0.527);
  margin-top: 20px;
}

.author:hover{
  color: hsla(210, 40%, 98%, 0.8);
}