@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FounderGrotesk";
  src: url("../public/FoundersGrotesk-Semibold.woff2") format("woff2"),
    url("../public/FoundersGrotesk-Semibold.woff") format("woff");
}

@font-face {
  font-family: "NeueMontreal";
  src: url("../public/NeueMontreal-Regular.woff2") format("woff2"),
    url("../public/NeueMontreal-Regular.woff") format("woff");
}
